{% extends 'base.html' %}
{% block content %}
    <h1>Todo 작성하기</h1>
    <form action="/todo/create/" method="POST">
        {%csrf_token%}
        title : <input class="bg-slate-200 p-1 rounded-lg text-slate-600" tuype="text" name="title" placeholder="제목을 입력해주세요">
        content : <input class="bg-slate-200 p-1 rounded-lg text-slate-600" tuype="text" name="content" placeholder="내용을 입력해주세요">
        <button class="bg-slate-200 p-1 rounded-full  text-slate-600" type=submit>저장</button>
    </form>
    <a href="/todo/mytodo/">
        <button class="buttons1">My Todo</button>
    </a>
    <a href="/todo/">
        <button class="buttons1">Todo list 모음</button>
    </a>
{% endblock %}