{% extends 'base.html' %}
{% block content %}
    <h1 class="text-2xl">{{ todo.user.username }}님의 Todo</h1>
    <h3>{{ todo.title}}</h3>
    <h5>{{ todo.content}}</h5>
    <p>{{todo.created_at}}</p>
    <p>{{todo.upated_At}}</p>
    <div>
        {%if request.user == todo.user%}
            <form action="/todo/delete/{{todo.id}}/" method="POST">
                {% csrf_token %}
                <button class="bg-slate-200 p-2 m-1 rounded-full  text-slate-600">삭제하기</button>
            </form>
            <a href="/todo/update/{{todo.id}}">
                <button  class="bg-slate-200 p-2 m-1 rounded-full  text-slate-600">수정하기</button>
            </a> 
        {%endif%}
    </div>  
{% endblock %}