{% extends 'base.html' %}
{% block content %}
<div>
    <p class="text-2xl">Todo List</p>
    <ul>
        {% for todo in todos %}
        <a href="/todo/{{todo.id}}/">
            <li class="p-2 border-b">
                <div>{{todo.title}}</div>
            </li>
        </a>
        {% endfor %}
    </ul>
    <a href="/todo/mytodo/">
        <button class="buttons1">My Todo</button>
    </a>
    <a href="/todo/create/">
        <button class="buttons1">새로 만들기</button>
    </a>
</div>
{% endblock %}
    
