{% extends 'base.html' %}
{% block content %}
    <h1 class="text-2xl">My Todo List</h1>
    <div>
        <ul>
            {% for todo in todos_list %}
                <a href="/todo/{{todo.id}}">
                    <li class="p-2 border-b">
                        <div>{{todo.title}}</div>
                    </li>
                </a>
            {% endfor %}
        
        </ul>
    </div>
    <a href="/todo/create/">
        <button class="buttons1">새로 만들기</button>
    </a>
    <a href="/todo/">
        <button class="buttons1">Todo list 모음</button>
    </a>
{% endblock %}