<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Todo List</title>
</head>
<body>
    <h1>My Todo List</h1>
    <a href="/todo/create/">
        <button>새로 만들기</button>
    </a>
    <a href="/todo/">
        <button>Todo list 모음</button></button>
    </a>
    <ul>
        {% for todo in todos_list %}
            <a href="/todo/{{todo.id}}">
                <li class="p-2 border-b">
                    <div>{{todo.title}}</div>
                </li>
            </a>
        {% endfor %}
    </ul>
</body>
</html>