{% extends 'base.html' %}
{% block content %}
    <h1 class="text-2xl">로그인</h1>
    <form action="/user/login/" method="POST">
        {% csrf_token %}
        ID : <input  class="bg-slate-200 p-1 m-2 rounded-lg text-slate-600" type=text name="username" placeholder="아이디를 입력하세요">
        PASSWORD : <input  class="bg-slate-200 p-1 m-2 rounded-lg text-slate-600" type=text name="password" placeholder="비밀번호를 입력하세요">
        <button class="bg-slate-200 p-2 m-2 rounded-full text-slate-600" type=submit>로그인</button>
    </form>
    <div  class="buttons1">
    <a href="/user/signup/" method="GET">
        회원가입 페이지로
    </a>
    </div>
{% endblock %}